*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f6d8;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}
.square {
  width: 120px;
  height: 120px;
}

p {
  text-align: center;
  font-size: 12px;
  margin-bottom: 2px;
}

/**********************CLOCK-CSS**********************/

.clock-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.clock {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgb(255,255,255,0.2);
  border: 2px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  z-index: 2;
}

.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
}
.hand i{
  position: absolute;
  background-color: var(--clr);
  width: 2px;
  border-radius: 8px;
}


.hour i{
  height: 8px;
}
.min i{
  height: 14px;
}
.sec i{
  height: 18px;
}



@media (max-width: 425px) {
  .clock {
    width: 30px;
    height: 30px;
  }

  .hour i{
    height: 7px;
  }
  .min i{
    height: 11px;
  }
  .sec i{
    height: 14px;
  }  
}